.m-content-block {
  // TO DO: Create spacing-base fill to assimilate spacing - padding & margin
  padding: 2em 0;
}

.m-content-block__item {
  display: inline;
}

.m-content-block__item:not(:first-child) {
  margin-left: 1em;
}