
.m-form-group {
  padding: $size-padding--sm $size-base;

  &--border-left {
    border-left: $size-border-width solid $color-form-border;
  }

  &--text-right {
    text-align: right;
  }

}

.m-form-group__label {
  display: block;
}

