.m-nav {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
  &--space { 
    margin: $size-margin--lg 0 $size-margin--lg;
  }
}
.m-nav__item {
  height: 100%;
  display: flex;
  align-items: center;
  &:not(:last-of-type){
    margin-right: $size-margin--lg;
  }
}