
.m-price-block {
  background: $util-grey;
  padding: $size-padding--md;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.m-price-block__content {

}

.m-price-block__title {
  font-family: $font-table-header;
  font-size: $font-size--sm;
  color: $color-table-header;
  text-transform: uppercase;
  font-family: $font-label;
}

.m-price-block__price {
  font-size: $font-size--xl;

  // &::after {
  //   display: inline;
  //   content: " KR."
  // }
}

.m-price-block__btn {
  width: 100%;
}
