.m-site-header {
  color: $color-site-header-text;
}

.m-site-header__header {
  margin: 1.5em 0;

  &--lg {
    font-size: 5em;
  }

}

.m-site-header__lead {
  max-width: 22em;
  font-weight: normal;
  font-size: $font-size--md;
}