
.m-table-item {
  display: grid;
  grid-template-columns: 75% 25%;
  background: $color-table-bg-primary;
  border: none;

  &:not(:first-child) {
    border-top: $size-border-width-lg solid $color-table-border;
  }
}

.m-table-item__inner {
  
}

.m-table-item__row {
  padding: 0 $size-padding--lg $size-padding--lg;

  &--top {
    padding: $size-padding--lg $size-padding--lg $size-padding--sm;
  }

}

.m-table-item__row-content {
  font-size: $font-size--base;
}

.m-table-item__header {
  font-family: $font-table-header;
  font-size: $font-size--sm;
  color: $color-table-header;
}

.m-table-item__header-item {
  &--bg-white{
    background-color: white;
    padding-right: 4px;
    padding-left: 4px;
    margin-left: -4px;
  }
  &--bg-grey {
    background: $color-table-header-bg;
    padding: 3px 8px 1px;
    border-radius: $size-table-header-border;
  }
  &:not(:last-of-type){
    background-image: url(/public/images/graphic_dash.svg);
    background-repeat: repeat-x;
    background-position: center;
  }

}

.m-table-item__price {
  background: $color-table-bg-secondary;
}