

// Color declaration
$brand-yellow:            #ffb400;
$brand-blue:              rgba(0, 121, 186, 0.62);


$primary-text:            #ffffff;
$secondary-text:          #1e1e1e;


$util-light:              #ffffff;
$util-dark:               #000000;
$util-light-blue:         #5cb3e2;




// color implementation
$color-background:          $brand-blue;


$color-btn-primary:         $brand-yellow;
$color-btn-secondary:       $util-light;
$color-btn-transparent:     rgba( $util-dark, .25 );

$color-link-primary-text:   $util-light;
$color-link-border-nav:     $util-light;
$color-link-border-content: $brand-yellow;
$color-link-menu-text:      $secondary-text;
$color-link-menu-bg:        $util-light-blue;

$color-menu-bg:             $util-light;
