/*************************************************

  Elements.scss is used to define
  standard behavior without classes.
  
  Eg. 

  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
  }

**************************************************/

a {
  font-size: $font-size--base;
  border: none;
  text-decoration: none;  
}

input {
  font-size: $font-size--base;
}

h1 {
  @include heading-level-1();
}

h2 {
  @include heading-level-2();
}

h3 {
  @include heading-level-3();
}

button {
  font-family: $font-button;
  font-size: $font-size--md;
}

input {
  font-family: $font-input;
}