


$size-padding--xs:          5px;
$size-padding--sm:          10px;
$size-padding--m:           15px;
$size-padding--lg:          20px;

// Button sizes
$size-button--sm:           30px;
$size-button--md:           40px;
$size-button--lg:           79px;

$size-btn--circle:          1000px;
$size-btn--pill:            23.5px;

// input sizes
$size-input--border:        50px;

// Link sizes
$size-link--border:         5px;

// menu sizes
$size-menu--border:         14px;

