/*************************************************

  Elements.scss is used to define
  standard behavior without classes.

  Eg.

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

**************************************************/

a {
  font-size: $font-size--base;
  border: none;
  text-decoration: none;
}

label {
  font-family: $font-label;
}

h1 {
  @include heading-level-1();
}

h2 {
  @include heading-level-2();
}

h3 {
  @include heading-level-3();
}

p {
  font-family: $font-text;
  font-size: $font-size--sm;
}

button {
  font-family: $font-button;
  font-size: $font-size--md;
}

input {
  font-size: $font-size--base;
  font-family: $font-input;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: $font-input;
  color: $color-input-text;
}
input::-moz-placeholder { /* Firefox 19+ */
 font-family: $font-input;
 color: $color-input-text;
}
input:-ms-input-placeholder { /* IE 10+ */
 font-family: $font-input;
 color: $color-input-text;
}
input:-moz-placeholder { /* Firefox 18- */
 font-family: $font-input;
 color: $color-input-text;
}
