




/* Mixins for headings */

@mixin heading-level-1 {
  // margin: 
  
  font-family: $font-heading-1;
  font-size: $font-size--huge;
  line-height: $line-height--xl;
  // font-weight: 
}

@mixin heading-level-2 {
  font-family: $font-heading-2;
  font-size: $font-size--xl;
}

@mixin heading-level-3 {
  font-family: $font-heading-3;
  font-size: $font-size--md;
}

@mixin heading-level-4 {
  
}

@mixin icon($background-path: "", $height: $size-base, $width: $size-base){
  &:before {
    content: '';
    position: absolute;
    display: block;

    left: 1em;
    top: 50%;

    height: $height;
    width: $width;

    background-image: url($background-path);

    background-size: contain;
    background-repeat: no-repeat;

    z-index: 1;

    cursor: pointer;
  }

  @content
}