
.o-cta-block {

  &--middle-align {
    text-align: center;
  }

  &--space-top {
    margin: $size-margin--xl 0;
  }

  &--light-text {
    color: $color-cta-text;
  }

}

.o-cta-block__item {
  margin: $size-margin--sm 0;
  color: inherit;

  &--actions { 

    *:not(:first-child) {
      margin-left: $size-margin--sm;
    }
  }

}