.o-form {
  background: $color-form-bg;
  overflow: hidden;

  &--relative {
    position: relative;
  }

  &--absolute {
    position: absolute;
  }

  &--sm {
    max-width: 35em;
  }

  &--top-arrow {

    &::after{
      content: "";
      position: absolute;
      width: 2em;
      height: 2em;
      top: -1em;
      right: 10%;
      transform: rotate(45deg);

      background: #ffffff;
    }
  }

}

.o-form__row {

  &:not(:first-child) {
    border-top: $size-border-width solid $color-form-border;
  }

  &--space {
    padding: $size-padding--md $size-base;
  }

}

.o-form__header {
  background: $color-form-head-bg;
  padding: $size-padding--md $size-base;
}

.o-form__content {
} 