.o-form {

  &--relative {
    position: relative;
  }

  &--absolute {
    position: absolute;
  }

  &--sm {
    max-width: 35em;
  }

  &--top-arrow {

    &::after{
      content: "";
      position: absolute;
      width: 2em;
      height: 2em;
      top: -1em;
      right: 15%;
      transform: rotate(45deg);

      background: #ffffff;
    }
  }

}

.o-form__content {
  background: $color-form-bg;  
}

.o-form__row {

  &:not(:first-child) {
    border-top: $size-border-width solid $color-form-border;
  }

  &--space {
    padding: $size-padding--md $size-base;
  }

}

.o-form__header {
  background: $color-form-head-bg;
  padding: $size-padding--md $size-base;
}

.o-form__btn {

  &--overflow {
    position: absolute;
    left: 35%;
    bottom: -2em;
  }

  &--space {
    margin: 2em 0;
  }

} 