.o-rte-block {

  &--middle-align {
    text-align: center;
  }

}

.o-rte-block__item {

  &--text {
    font-size: $font-size--sm;
    color: $color-rte-text;
  }

  &--lg {
    font-size: 2em
  }

  &--xl {
    font-size: 5em;
  }

  &--space {
    margin: $size-margin--lg 0;
  }

  &--sm {
    max-width: 50%;
  }

}