
.a-input {
  margin: 0;

  outline: none;
  border: transparent;

  width: 100%;
  padding: .5em 0;

  &--lg {
    padding: 1em;
  }

  &--top-right {
    border-top-right-radius: $size-input--border;
  }

  &--top-left {
    border-top-left-radius: $size-input--border;
  }

  &--bottom-right {
    border-bottom-right-radius: $size-input--border;
  }

  &--bottom-left {
    border-bottom-left-radius: $size-input--border;
  }

  &--top {
    @extend .a-input--top-left;
    @extend .a-input--top-right;
  }

  &--bottom {
    @extend .a-input--bottom-left;
    @extend .a-input--bottom-right;
  }

}