

/* Needs to have a modifier to work properly */

.a-button {
  border: none;
  
  max-width: 20em;
  
  outline: none;
  cursor: pointer;  

  &--primary {
    background: $color-btn-primary;
    color: $color-btn-secondary;
  }

  &--secondary {
    background: $color-btn-secondary;

    &-text {
      color: $color-btn-secondary-text;
    }
  }
  
  &--transparent {
    background: $color-btn-transparent;
  }

  &--active {
    position: relative;
    z-index: 1;
  }

  &--disabled {
    opacity: .3;
  }

  &--circle-sm {
    border-radius: $size-btn--circle;
    width: $size-button--sm;
    height: $size-button--sm;
  }
  
  &--circle-md {
    border-radius: $size-btn--circle;
    width: $size-button--md;
    height: $size-button--md;
  }

  &--circle-lg {
    border-radius: $size-btn--circle;
    width: $size-button--lg;
    height: $size-button--lg;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.2);
  }

  &--pill {
    border-radius: $size-btn--pill;
    padding: $size-padding--xs $size-base;
  }

  &--square {
    background: $color-btn-square;
    color: $color-btn-secondary;
    border-radius: $size-btn--square;
    padding: 0.35em $size-padding--sm;
  }

}