
.a-checkbox {
  position: relative;
  width: 30px;
  height: 30px;
  display: block;
  &:hover{
    .a-checkbox__marker:before {
      background-color: $util-grey;
    }
  }
}

.a-checkbox__input {
  display: none;
}

.a-checkbox__marker {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border: $size-border-width solid $color-checkbox-border;
    border-radius: 1000px;
  }
}

.a-checkbox__input:checked + .a-checkbox__marker::before {
  background: $color-checkbox-active;
  border-color: $color-checkbox-active;
}