
.a-icon {
  position: relative;

  &--lg {
    font-size: 8em;
  }

  &--edit {
    @include icon('/public/images/icon_edit_grey.svg');
    &::before {
      transform: translateY(-50%);  
    }
  }

  &--logo {
    @include icon('/public/images/logo.svg', 0, 0);
    &::before {
      transform: translateY(-15%);
    }
  }

  &--invoice {
    @include icon('/public/images/icon_invoice.svg', -2em, -50%);
    &::before {
      transform: translateY(-2em);
    }
  }

}