
.a-input {
  margin: 0;

  outline: none;
  border: transparent;

  width: 100%;
  padding: .4em 0 .3em;;

  &--hidden {
    display: none;
  }

  &--lg {
    padding: 1em;
  }

  &--with-icon {
    padding-left: 30px;
    padding-top: .5em;
    padding-bottom: .4em;
  }
  &::placeholder{
    opacity: 0.3;
  }
}
