
.a-link {
  color: $color-link-primary-text;
  padding-top: $size-padding--xs;
  padding-bottom: $size-padding--xs;
  cursor: pointer;
  font-size: 2em;

  &--nav {
    font-family: $font-link-nav;
    border-bottom-color: $color-link-border-nav;
    padding: .9em 0;
  }

  &--content {
    font-family: $font-link-content;
    border-bottom-color: $color-link-border-content;
    opacity: .6;
  }

  &--active {
    border-bottom-width: 3px;
    border-bottom-style: solid;
    opacity: 1;
  }

  &--menu {
    padding: 1em;
    font-family: $font-link-menu;

    &-inactive {
      color: $color-link-menu-text;
    }

    &-active {
      font-family: $font-link-menu-primary;
      color: $color-link-primary-text;
      border-radius: $size-link--border;
      background: $color-link-menu-bg;
    }

  }
}