.a-wrapper {
  margin: 0 auto;
  &--page {
    width: 920px;
    max-width: calc(100vw - 4em);
    margin-bottom: 4em;
  }

  &--overlay {
    &::after {
      content: "";
      position: absolute;
      background: black;
      width: 100%;
      height: 100%;
    }
  }

}
