
.util-nav {

  padding: 1em;
  border-bottom: 1px solid white;

  &__inner {

    display: flex;
    flex-direction: row;
    
    & > li {
      list-style: none;
      border-bottom: 2px solid transparent;

      &:hover {
        border-bottom-color: white;
      }

    }
  }
}

.util-btn-top {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

.util-block {
  border:1px solid black; 
  padding: 2em;
}

.util-header {
  font-size: 3em;
  line-height: 2em;
  margin-top: 2em;
}

.util-block__header {
  padding: .5em 0;
  font-size: 2em;
}

.util-background {
  background: $color-background;
  padding: 1em;
  margin-bottom: 100px;
}