.u-flex {
  display: flex;

  &--space-between {
    justify-content: space-between;
  }

  &--center-v {
    align-items: center;
  }

  &--center-h {
    justify-content: center;
  }

  &--column {
    flex-direction: column;
  }

  &--nowrap {
    flex-wrap: nowrap;
  }
}

.u-flex__item {

  &--right {
    align-self: flex-end;
  }
}